.card-list-truyen{
  height: 100%;
  .wrap-card-img{
    width: 100%;
    height: 240px;
    position: relative;
    overflow: hidden;
    background-color: #ddd;
    img.card-img-top{
      position: absolute;
      width: 100%;
      min-width: 200px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
  .card-body{
    padding: 0.5rem;
    color: #000;
    h6, h5, h4, h3, h2, h1{
      font-weight: 600;
    }
  }
}

.card-list-truyen.size-lg{
  .wrap-card-img{
    height: 350px;
    img.card-img-top{
      min-width: 250px;
    }
  }
}

.custom-card-body{
  position: relative;
  .card-body{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.8);
    padding-top: 12px;
  }
}

.form-group{
  margin-bottom: 16px;
}

.fw-600{
  font-weight: 600;
}

.fs-14{
  font-size: 14px;
}

.title-loai{
  margin-bottom: 24px;
  position: relative;
  color: #fd5d14;
  &:before{
    content: "";
    position: absolute;
    bottom: -10px;
    width: 100%;
    height: 3px;
    background-image: linear-gradient(to right, #fd5d14, #ddd);
  }
}

.title-heading-section{
  margin-bottom: 24px;
  position: relative;
  display: inline-block;
  color: #fd5d14;
}

ul.c-ul-type-none{
  list-style-type: none!important;
}
.c-list-loai-truyen{
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 0;
  li{
    width: 50%;
    margin-bottom: 8px;
    font-size: 14px;
  }
}

.main-content{flex-grow: 1;}
.left-content{
  flex-shrink: 0;
  width: 300px;
  margin-left: 20px;
}

.custom-pagination{
  margin-top: 24px;
  margin-bottom: 48px;
  border: solid 1px #000;
  padding: 8px 24px;
}

.c-button-input{
  font-weight: 600;
  margin-right: 12px;
}

.wrap-truyen-xem-nhieu{
  padding-left: 48px;
  position: relative;
  .wrap-img-small{
    width: 38px;
    height: 38px;
    background-color: red;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    .card-img-small{
      width: 38px;
    }
  }
}

.icon-detail-truyen{
  width: 26px;
  display: inline-block;
  color: #fd5d14;
}

.wrap-truyen-detail{
  .truyen-detail-item{
    max-height: 500px;
    overflow-y: auto;
  }
}

.box-select-pagination-top{
  display: inline-block;
  margin-left: 12px;
  margin-right: 12px;
  ul.dropdown-menu{
    max-height: 400px;
    li{
      border-bottom: solid 1px #ddd;
      &:last-child{
        border-bottom: 0;
      }
    }
    overflow-y: auto;
    li.active-select{
      background-color: yellow;
    }
  }
}

//comment
.wrap-comment-rep-list{
  padding-left: 66px;
}

.comment-list-items{
  display: flex;
  position: relative;
  .box-avatar{
    display: inline-block;
    margin-right: 12px;
    img{
      width: 45px;
      border-radius: 50%;
    }
  }
  .box-content{
    padding: 4px 12px;
    background-color: #fff;
    border-radius: 16px;
    .nameUser{
      margin-bottom: 0;
      font-size: 14px;
    }
    .content-cmt{
      font-size: 14px;
    }
  }
}

.btn-reply{
  padding: 0;
  font-size: 14px;
  margin-left: 68px;
}

.list-comment-reply{
  margin-top: 16px;
}

.write-reply-comment{
  padding-left: 66px;
  margin-top: 8px;
}

.wrap-comment-rep-list .comment-list-items{
  margin-bottom: 16px;
}

.form-binhluan{
  display: flex;
  .btn-binhluan{
    white-space: nowrap;
    background-color: rgb(96, 120, 169);
    border: 1px solid rgb(41, 65, 124);
    font-weight: 600;
    color: white;
    margin-left: 8px;
  }
}

.btn-reply{
  ~ .write-reply-comment{
    display: none;
  }
  &.active{
    ~ .write-reply-comment{
      display: block;
    }
  }
}

.box-noti-mess{
  border: 1px dashed red;
  padding: 20px 24px 12px 24px;
}

#id-show-hide-cmt .items-show-hide-cmt{
  display:none;
}

#showLess {
  color:red;
  cursor:pointer;
  display:none;
}